
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Онлайн курс | ZERTIS</title>
    <link href="~/Content/Account/css/Account.css" rel="stylesheet" />

    <link href="~/Content/Account/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Account/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Account/css/theme_styles.css" rel="stylesheet" />
    <link href="~/Content/Account/css/Account.css" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300 | Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>








</head>
<body class="body">
    <div id="theme-wrapper">






        @RenderBody()

    </div>





    <script src="~/Content/Account/jquery.js"></script>
    <script src="~/Content/Account/bootstrap.min.js"></script>


    <script>

        function showpassword() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>


  



</body>
</html>
