@{
    Layout = "~/Views/Shared/_Layout_Account.cshtml";

}


<div class="container" style="position:absolute">
    <div class="row">
        <div class="col-xs-12">
            <div id="login-box">
                <div id="login-box-holder">
                    <div class="row">
                        <div class="col-xs-12">
                            <header id="login-header">
                                <div id="login-logo">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                  Smart Home
                                
                                </div>
                            </header>
                            <div id="login-box-inner">


                                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>

                                        <input type="email" class="form-control" placeholder="Email" name="Email" minlength="15" required>

                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key"></i></span>

                                        <input type="password" id="password" class="form-control" placeholder="Пароль" name="Password" maxlength="100" required>

                                        <span style="cursor:pointer" class="input-group-addon" onclick="showpassword()"><i class="fa fa-eye"></i></span>
                                    </div>
                                    <div id="remember-me-wrapper">
                                        <div class="row">


                                            <div class="col-xs-12">

                                                <a href="@Url.Action("ForgotPassword","Account",new { language="ru"})" id="login-forget-link">
                                                    Құпия сөзді ұмыттыңыз ба?
                                                </a>

                                            </div>




                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button id="btnsuc" type="submit" class="btn btn-success col-xs-12">Кіру</button>
                                        </div>
                                    </div>


                                    <div class="row" style="margin-top:18px">
                                        <div class="col-xs-12">


                                       Сіз тіркелмегенсіз бе?

                                            <a href="@Url.Action("Register","Account")" class="registerbtn">Тіркелу</a>
                                        </div>




                                    </div>

                                 



                                }
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

